static-ffmpeg
einops
tqdm
torchcodec
transformers
sounddevice
safetensors
numpy
py3langid
pysbd
onnxruntime

# en
nltk
future
wordsegment

# zh
cn2an
pypinyin
jieba

# ja
pyopenjtalk-plus
